* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Bangers', cursive;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: $bgcolor;
    display: grid;
    grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
    main {
        grid-area: main;
    }
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #1a1a1a;
}