.header {
    grid-area: header;
    background-color: $purple; 
    padding: 1rem 3rem;
    position: sticky;
    top: 0;
    z-index: 1;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        &--nav {
            display: flex;
            gap: 10px;
            li a {
                color: #fff;
                font-weight: bold;
                padding: 0.4rem;
                border-radius: 15px;
                transition: background 0.6s ease;
                &:hover {
                    background: $green;
                    color: $ftcolor;
                    border-radius: 15px;
                }
            }
        }
    }
}