.index {
    position: relative;
    height: 100vh;
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        video {
            position: relative;
            top: 50%;
            left: 50%;
            object-fit: cover;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
        }
    }
    &__text {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: $white;
        width: 100%;
        padding: 10px;
        &--boton {
            width: 200px;
            font-size: 18px;
            font-weight: bold;
            padding: 10px;
            border: none;
            background: $black;
            &:hover {
                background: #eee;
                color: $black;
            }
        }
    }
}