.nutricion__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 1rem 0rem;
    &--text {
        margin: 1rem;
        padding: 1rem;
        border: 2px solid $purple;
        border-radius: 20px;
        background-color: $boxcolor;
    }
}