@media (max-width: 1380px) {

    .nutricion__content {
        grid-template-columns: repeat(1, 1fr);
    }

    .wod__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .info__content {
        grid-template-columns: repeat(1, 1fr);
    }  
}

@media (max-width: 975px) {
    ul {
        list-style-type: disc;
    }

    .header__content--nav {
        display: contents;
        li a {
            padding: 1px;
            &:hover {
                padding: 1px;
            }
        }
    }

    .index {
        height: 50vh;
        &__text {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-items: center;
            h2 {
                font-size: 1.3rem;
            }
            &--boton {
                width: 150px;
                font-size: 15px;
            }
        }
    }

    .wod__container--ejercicio {
        width: 520px;
        img, iframe {
            width: 500px;
            height: 400px;
        }
    }

    .nutricion__content img {
        width: 500px;
        height: 400px;
    }
}

@media (max-width: 570px) {
    h1 {
        font-size: 1.5rem;
    }

    .header__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        gap: 50px;
        img {
            width: 250px;
            height: 65px;
        }
        &nav li a {
            font-size: small;
        }
    }

    .index__text {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
        h2 {
            font-size: 1rem;
        }
        &--boton {
            width: 100px;
            font-size: 15px;
            padding: 10px;
        }
    }

    .footer__redes {
        h5 {
            font-size: 12px;
        }
        div i {
            padding: 10px;
        }  
    }

    .wod__container--ejercicio {
        width: 460px;
        img, iframe {
            width: 450px;
            height: 380px;
        }
    }

    .nutricion__content img {
        width: 450px;
        height: 380px;
    }

    .sumate {
        padding: 5rem 5rem;
        &__box {
            font-size: small;
            &--title {
                font-size: 20px;
                font-weight: bold;
                padding: 1rem;
            }
            &--form {
                width: 60%;
                padding: 5px;
                border-radius: 4px;
                margin-bottom: 10px;
                font-size: 10px;
            }
            &--contanos {
                width: 90%;
                height: 60px;
                padding: 20px;
                font-size: 12px;
            }
            &--boton {
                width: 30%;
            }
        }
    }

    .contacto {
        padding: 5rem 5rem;
        &__box {
            font-size: small;
            &--coments {
                width: 90%;
                height: 200px;
                font-size: 12px;
            }
            &--boton {
                width: 30%;
            }
        }
    }
}

@media (max-width: 509px) {
    .header__content img {
        width: 200px;
        height: 52px;
    }
}

@media (max-width: 460px) {
    .index__text p {
        display: none;
    }

    .header__content img {
        width: 150px;
        height: 39px;
    }

    .wod__container--ejercicio {
        width: 400px;
        img, iframe {
            width: 390px;
            height: 310px;
        }
    }

    .nutricion__content img {
        width: 390px;
        height: 310px;
    }
}

@media (max-width: 410px) {
    h1 {
        font-size: 1rem;
    }

    .header__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 25px;
        img {
            width: 100px;
            height: 26px;
        }
        &--nav {
            li a {
                font-size: 11px;
            }
        }
    }

    .index {
        height: 30vh;
        &__text {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-items: center;
            h2 {
                font-size: 0.8rem;
            }
            &--boton {
                width: 70px;
                font-size: 12px;
                padding: 6px;
            }
        }
    }

    .footer__redes {
        h5 {
            font-size: 8px;
        }
        div i {
            padding: 5px;
        }
    }

    .info__content iframe {
        width: 300px;
        height: 225px;
    }

    .wod__container--ejercicio {
        width: 305px;
        img,iframe {
            width: 290px;
            height: 217px;
        }
    }

    .nutricion__content img {
        width: 290px;
        height: 217px;
    }

    .sumate {
        padding: 3rem 5rem;
        &__box {
            font-weight: bold;
            font-size: x-small;
            border-radius: 2rem;
            padding: 0px 25px;
            &--title {
                font-size: 15px;
                font-weight: bold;
                padding: 1rem;
            }
            &--form {
                width: 100%;
                font-size: 10px;
            }
            &--contanos {
                width: 90%;
                height: 80px;
                padding: 20px;
                font-size: 12px;
            }
            &--boton {
                width: 60%;
            }
        }
    }

    .contacto {
        padding: 3rem 5rem;
        &__box {
            font-weight: bold;
            font-size: x-small;
            border-radius: 2rem;
            padding: 0px 20px;
            &--boton {
                width: 60%;
            }
        }
    }
}