.wod__table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px solid $black;
    th,td {
        border: solid 1px #eee;
        padding: 5px;
        text-align: center
    }
    th {
        background-color: $green;
        color: #eee;
    }
    tr:nth-child(even) {
        background-color: #eee;
    }
    tr {
        &:hover {
            background-color: #aaa;
            cursor: pointer;
        }
    }
    td {
        a {
            &:link {
                text-decoration: none;
                color: $ftcolor;
            }
            &:visited {
                color: $ftcolor;
            }
            &:hover {
                color: $green;
                transition: color 0.4s ease;
            }
            &:active {
                color: $purple; 
                background-color: $green;
                font-weight: bold;
            }
        }
    }
}

.wod__container {
    margin: 1rem 0rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 10px;
    &--ejercicio {
        width: 660px;
        transition: box-shadow 0.3s ease;
        background-color: $white;
        color: $ftcolor;
        font-size: large;
        font-weight: bold;
        text-align: center;
        border-radius: 1rem;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.4);
        }
    }
}