@import 'variables';
@import 'global';
@import 'header';
@import 'footer';
@import 'main';
@import 'info';
@import 'sumate';
@import 'wod';
@import 'nutricion';
@import 'contacto';
@import 'responsive';